body {
  /* background-color: chartreuse; */
}

/* html selectors*/
h1 {
  color: #c00;
  font-size: 36px;
}

p {
  color: #060;
  text-align: right;
}
/* ID selector */
#promo {
  background-color: #999;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Class selector */
.jEntry {
  background-color: #999;
}

/* Grouping selectors */
article h2,
article p {
  text-align: center;
}

/* Dec seletor */
nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #000;
}

nav ul li a:hover {
  color: #060;
  text-decoration: overline;
}

/* working with the span tag */
.highlight {
  color: red;
}
